# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
.venv/
.uv/

# Env
.env
*.env.local

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Mypy
.mypy_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
